/*Acá terminan los estilos del loader*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, 
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* Fondo unificado para toda la página */
html {
  background-color: var(--bg);
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  background-color: transparent; /* ← Hereda de html */
}

/* Si el contenido es corto, el body crece para llenar */
html, body {
  height: 100%;
}

/*Acá empiezan los estilos del main-loader*/
.main-loader {
  width: 60px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side, #4A82F9 90%, #0000);
  background: 
    var(--_g) 50%  0,
    var(--_g) 0    100%,
    var(--_g) 100% 100%;
  background-size: 35% calc(35%*1.154);
  animation: l16 1s infinite;
}

@keyframes l16 { 
  50%, 100% {
    background-position: 100% 100%, 50% 0, 0 100%;
  }
}

/*.main-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main-loader:before,
.main-loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;

  filter: drop-shadow(
    0 0 1rem rgba(115, 191, 253, 0.8)
  );
}
.main-loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #4A82F9;
  animation-name: pulsIn;
}
.main-loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #4A82F9;
}


 @keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #4A82F9;
    opacity: 1;
  }

  50%,100% {
    box-shadow: inset 0 0 0 0 #4A82F9;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,50% {
    box-shadow: 0 0 0 0 #4A82F9;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #4A82F9;
    opacity: 1;
  }
}*/

.logo {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}